@import '~antd/dist/antd.css';

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

.app {
    margin-bottom: 50px;
}

.main {
    margin-bottom: 120px;
}

#main {
    height: 100%;
}

.react-codemirror2 {
    height: 100%;
}

.CodeMirror {
    height: 100%;
}