
.react-codemirror2 {
    height: 100%;
}

.CodeMirror {
    height: 100%;
}

.orangex-edit-codemirror {
    padding-top: 25px;
    height: 100%;
}
.orangex-edit-main {
    height: 100%;
}

.orangex-edit-title {
    position: fixed;
    width: 100%;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bolder;
    color:#515151;

    box-shadow: 0px 5px 7px gray;
    border-style: none solid none;
    border-width: 1px;

}

.orangex-edit-keyboard-root {
    position: fixed;
    z-index: 4;
    bottom: 0;
    padding-bottom: 50px;
    height: 110px;
    width: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.orangex-edit-keyboard-item {
    width: 6%;
    font-size: 20px;
}

.orangex-edit-keyboard-item-text {
    width: 10%;
    font-size: 15px;
}