.item-root {
    height: 70px;

    display: inline-flex;

    width: 85%;

    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;

    overflow: hidden;
    /*文本不会换行*/
    white-space: nowrap;
    /*当文本溢出包含元素时，以省略号表示超出的文本*/
    text-overflow: ellipsis;
}

.item-icon {
    padding-left: 20px;
    width: 50px;
    height: 50px;

    box-sizing: content-box;
}

.item-text {
    padding-top: 3px;
}

.item-name {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding: 10px;
    height: 15px;
}

.item-description {
    font-size: 12px;
    color: #A9A9A9;
    padding-left: 10px;
    height: 12px;
}

.item-select {
    float: right;
    padding-right: 20px;
    padding-top: 12px;
    width: 25px;
    height: 25px;

    box-sizing: content-box;
}