.tab {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0px;
    box-shadow: 0px 2px 7px gray;
    background-color: white;
    display: flex;
    align-content: center;
}

.tab-pane {
    width: 30%;
    text-align: center
    /* height: 50px; */
}

.tab-img {
    height: 50px;
    width: 50px;
}