.tab {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0px;
    box-shadow: 0px 2px 7px gray;
    background-color: white;
    display: flex; 
    align-content: center;
}

.tab-pane {
    display: inline-block;
    width: 34%;
    text-align: center
    /* height: 50px; */
}

.tab-img {
    margin-top: 5px;
    height: 40px;
    width: 40px;
}